body {
	background:url("stockvault-sweet-delicious-fruit109569.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 26px;
	font-family: helvetica, arial, sans-serif;
	color: #fff;
	margin: 270px 200px;
	font-weight: 200;
	line-height: 32px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 500px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 64px;
}
p {
	font-family: 'Libre Baskerville', serif; 
	font-size: 18px;
}